# Title

## Introduction

Minecraft is a sandbox video game where players explore and build in a world made of blocks. In this world of infinite possibilities, we would like to know the behaviors of the players and their demographics. Data was collected by a Computer Science research group at UBC led by Frank Wood. The method in which they collected data was recording players' actions throughout the world in their Minecraft servers. They provide two data sets, one of player data that contains a list of unique players and their data, and another that contains a list of individual game sessions made by each player. Specifically, we would like to know what Minecraft player characteristics and behaviours are most predictive of subscribing to a game-related newsletter, and how each player differs from each other.
### Question:
Can the variables played_hours, gender, experience, and age predict whether or not a Minecraft player will subscribe to a game-related newsletter, and how do these predictors vary from player to player?

As we are only looking at player demographic and behavioural data, we will only use the first data set, players.csv that contains the list of players and their respective game data. This data set contains 196 total observations and 7 variables: subscribe, gender, age, name, played_hours, hashedEmail and experience. Out of all the variables, the predictors of subscribing are experience, played_hours, gender and age. The columns email and name will be left out as these varibles do not contribute to newsletter subscription.

- The subscribe variable is categorical and contains 2 possible values: "TRUE" or "FALSE". This shows whether a player has subscribed to a game related newsletter or not.

- The experience variable is categorical and contains 5 possible values: "Beginner", "Amateur", "Regular", "Pro" and "Veteran". These placeholders describe the level of skill and experience each player has rated themselves from least to most experienced.

- The played_hours variable is numeric and up to 1 decimal place. This variable, quantified in hours, was determined through how long each player played Minecraft in one sitting.

- The gender variable is categorical and contains 7 options: "Male", "Female", "Non-binary", "Prefer not to say", "Agender", "Two-spirited" and "Other." This variable shows the gender of the player.

- The age variable is numeric and contains integer values. This variable is the age of the player.

A noticeable issue is that this data contains some outliers in the played_hours variable. Some players have claimed to play over 200 hours of Minecraft in a single session. These points may affect the classification model in predictions.

### players.csv dataset  Information
#### Dataframe
- 196 Observations
- 7 Variables
- Experience was collected from players themselves
- Each name is unique currently but that is not guaranteed
- Issue: Age has 2 N/A values
- Note: Age starts with a capital A
#### Variables
| Name | Type | Description |
| :------- | :------ | :-------
| experience | chr | Categorical (Pro, Veteran, Amateur, Regular, Beginner)  | 
| subscribe | lgl | Categorical (TRUE/FALSE) |
| hashedEmail | chr | Identifies players |
| played_hours | dbl | Numerical (Total amount of hours played) |
| name | chr | Identifies players |
| gender | chr | Categorical (Male, Female, Non-binary, Prefer not to say, Agender, Two-Spirited, Other) |
| Age | dbl | Numerical (Age of the player) |
#### Summary Statisitics
| Name | Unique Observations | Max | Min | Mean |
| :------- | :------ | :-------| :-------| :-------
| played_hours | 43 | 223.1 | 0 | 5.85 |
| Age | 33 | 58 | 9 | 21.14 |
| experience | 5 | - |  - | - | 
| subscribe | 2 | - | - | - | 
| hashedEmail | 196 | - | - | - |  
| name | 196 | - | - | - | 
| gender | 7 | - | - | - |

## Methods & Results

We began by wrangling and cleaning the dataset. Specifically, we converted any “Prefer not to say” entries in the gender column into NA values and changed the column name “Age” to “age” so that all variable names follow a lowercase format. This ensures that functions using arguments like na.rm = TRUE will work properly during our analysis.

In [11]:
library(tidyverse)
library(repr)
library(tidymodels)
library(cowplot)
options(repr.matrix.max.rows = 6) # i got these loading steps from other assignments we've done. im not really sure
#source('cleanup.R') # if they are all necesary tho so feel free to remove

# loading in dataset
players = read_csv("data/players.csv")
players

# changing age column name + converting "Prefer not to say" into NAs
clean_data <- players |>
  mutate(age = Age,
    gender = na_if(gender, "Prefer not to say")   # convert to NA
  ) |>
  select(-Age)
clean_data

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            Age
1   30.3         Morgan    Male               9
2    3.8         Christian Male              17
3    0.0         Blake     Male              17
⋮   ⋮            ⋮         ⋮                 ⋮
194 0.0          Dylan     Prefer not to say 57
195 2.3          Harlow    Male              17
196 0.2          Ahmed     Other             NA

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender age
1   30.3         Morgan    Male    9
2    3.8         Christian Male   17
3    0.0         Blake     Male   17
⋮   ⋮            ⋮         ⋮      ⋮
194 0.0          Dylan     NA     57
195 2.3          Harlow    Male   17
196 0.2          Ahmed     Other  NA